{#
/**
 * @file church_entity.html.twig
 * Default theme implementation to present Church data.
 *
 * This template is used when viewing Church pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_church_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('church_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
